bin/
obj/
*.user
*.suo
.vs/

[Dd]ebug/
[Rr]elease/
*.log

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

TestResults/
*.trx

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.env

cache/
